<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Common values -->
    <add key="environment" value="PPE"/>
    <add key="PPE" value="https://mylabs.px.ppe.pearsoncmg.com"/>
    <add key="CGIE" value="https://pegasus5.qa.pegasus.pearsoncmg.com"/>
    <add key="PROD" value="https://mylabs.px.ppe.pearsoncmg.com"/>
    <!--resource-->
    <add key="header" value="Authorization"/>
    <add key="AccessToken" value="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIyMjUxMDQyIiwicm9sZSI6IjMiLCJGaXJzdE5hbWUiOiJSYWdoYXZlbmRyYSIsIkxhc3ROYW1lIjoiQW5uYWlhaCIsIlVzZXJJRCI6IjIyNTEwNDIiLCJDb3Vyc2VJRCI6IjY0NDcxNCIsIlRpbWVab25lSUQiOiIxMyIsIkFjbElEIjoiMjAwMDAwMDAwMDEyODYzMyIsIkRlbGl2ZXJ5VHlwZSI6IjEiLCJTZXNzaW9uSUQiOiJrNHF0c2V6NWlhaDV3bmx4MTVlMnNwaWwiLCJDdXN0b21Mb2NhbGVJbmZvIjoie1wiRGVjaW1hbEZvcm1hdFN0cmluZ1wiOlwiXCIsXCJJbnRlZ2VyRm9ybWF0U3RyaW5nXCI6XCJcIixcIkxvbmdEYXRlRm9ybWF0SURcIjowLFwiTG9uZ0RhdGVQYXR0ZXJuXCI6XCJcIixcIk51bWJlckRlY2ltYWxTZXBhcmF0b3JcIjpcIlwiLFwiTnVtYmVyRm9ybWF0SURcIjowLFwiTnVtYmVyR3JvdXBTZXBhcmF0b3JcIjpcIlwiLFwiU2hvcnREYXRlRm9ybWF0SURcIjowLFwiU2hvcnREYXRlUGF0dGVyblwiOlwiXCIsXCJTaG9ydFRpbWVTdHJpbmdcIjpcIlwiLFwiVGltZUZvcm1hdElEXCI6MH0iLCJuYmYiOjE1MzQyMzczNTIsImV4cCI6MTUzNDI0ODQ1MiwiaWF0IjoxNTM0MjM3MzUyLCJpc3MiOiJQZWdhc3VzIiwiYXVkIjoiUGVnYXN1c05vdGlmaWNhdGlvbnMifQ.EY8-T6d10ZqcXakQvEOJyoLWDpihJtxW6EevyzIkytI"/>
    
    
    <!--Idle students -->
    <add key="IdleStudentApiPath" value="/Notifications/api/idlestudent/detail"/>
   </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
